In [7]:
import pandas as pd
import requests
from datetime import date, timedelta

In [8]:
end_date = date.today().isoformat()

In [9]:
end_date

'2020-01-16'

In [10]:
delta = timedelta(730)

In [11]:
start_date = (date.today() - delta).isoformat()

In [12]:
start_date

'2018-01-16'

In [13]:
url = 'https://api.exchangeratesapi.io/history'

In [14]:
payload = {
    "start_at": start_date,
    "end_at": end_date,
    "symbols": "CNY,JPY,EUR",
    "base": "USD"
}

In [15]:
result = requests.get(url, params = payload).json()

In [16]:
rate_df = pd.DataFrame(result['rates']).transpose()

In [18]:
rate_df = rate_df.sort_index()

In [19]:
rate_df

                 EUR       CNY         JPY
2018-01-16  0.817661  6.441537  110.711365
2018-01-17  0.819471  6.435139  110.800623
2018-01-18  0.817327  6.422722  111.213731
2018-01-19  0.815993  6.403998  110.599755
2018-01-22  0.817060  6.403628  110.842389
...              ...       ...         ...
2020-01-10  0.901632  6.922099  109.638446
2020-01-13  0.898796  6.893493  109.877764
2020-01-14  0.899685  6.885830  110.049483
2020-01-15  0.897505  6.887991  109.881529
2020-01-16  0.895335  6.879488  109.947175

[511 rows x 3 columns]